LAB6_CONSOLE_CLIENT/Connected Services/MyService/FlightsService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64964/FlightsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LAB6_SERVICE.model" />
  <xs:element name="getAllFlights">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllFlightsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LAB6_SERVICE.model" minOccurs="0" name="getAllFlightsResult" nillable="true" type="q1:ArrayOfFlight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addFlight">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LAB6_SERVICE.model" minOccurs="0" name="flight" nillable="true" type="q2:Flight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addFlightResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getFreeFlight">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getFreeFlightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LAB6_SERVICE.model" minOccurs="0" name="getFreeFlightResult" nillable="true" type="q3:Flight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFlightAt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="index" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFlightAtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LAB6_SERVICE.model" minOccurs="0" name="getFlightAtResult" nillable="true" type="q4:Flight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buyTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/LAB6_SERVICE.model" minOccurs="0" name="person" nillable="true" type="q5:Person" />
        <xs:element minOccurs="0" name="arrivalAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="departureAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="departureTime" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buyTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/LAB6_SERVICE.model" minOccurs="0" name="buyTicketResult" nillable="true" type="q6:Ticket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>