LAB6_CONSOLE_CLIENT/Connected Services/MyService/FlightsService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LAB6_SERVICE.model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LAB6_SERVICE.model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFlight">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Flight" nillable="true" type="tns:Flight" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFlight" nillable="true" type="tns:ArrayOfFlight" />
  <xs:complexType name="Flight">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArrivalAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ArrivalTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AvailableTicketsCount" type="xs:int" />
      <xs:element minOccurs="0" name="DepartureAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartureTime" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Flight" nillable="true" type="tns:Flight" />
  <xs:complexType name="Person">
    <xs:sequence>
      <xs:element minOccurs="0" name="FIO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Person" nillable="true" type="tns:Person" />
  <xs:complexType name="Ticket">
    <xs:sequence>
      <xs:element minOccurs="0" name="Flight" nillable="true" type="tns:Flight" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Person" nillable="true" type="tns:Person" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ticket" nillable="true" type="tns:Ticket" />
</xs:schema>